.task {
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64C4ED;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 20px;

    &:hover {
      img {
        opacity: 1;
      }
    }
    img {
      transition: opacity .3s ease;
      margin-left: 15px;
      opacity: 0;
      cursor: pointer;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  p {
    margin-left: 15px;
  }
  input {
    display: none;
  }

   label {
     width: 25px;
     height: 25px;
     border-radius: 50%;
     border: 2px solid #E8E8E8;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all .3s ease;
     cursor:pointer;
     &:hover {
       background: #E8E8E8;
       svg {
         opacity: 1;
        }
     }

     svg {
       transition: all .3s ease;
       stroke: #B3B3B3;
       width: 20px;
       height: 20px;
       opacity: 0;
     }
   }
  input:checked + label {
    background: #4DD599;
    border: 2px solid #4DD599;

    svg {
      stroke: #fff;
      opacity: 1;
    }
  }

}